####################################################
#										CU-RJMCMCp Setup
#AUTHOR: John Chavis
#NAME: setup.config
#DESCRIPTION: User Defined Paramters to run CU-RJMCMCp
#
##################################################
CMDSTANPATH = "/cmdstan-2.23.0/"		#Specify the Path to cmdstand. #Absoulate path must be used  

NCORES = 4				#NUmber of Cores desired for cmdstan


#################################
#Variables for RJMCMC Simulation 
#################################
NBURN = 1000			#Number of Burn in 

NLEN = 1000				#Number of Samples to Run 

NCHAIN = 1				#Number of Chains

PLOT=true            #Plot true or false
